raspberrypi/R024-Arduino_firmata/flows.json
[{"id":"f6a50207.d487c8","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"8f1ed957.5e59a8","type":"inject","z":"f6a50207.d487c8","name":"blinker","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":220,"y":280,"wires":[["4d5e569c.181738"]]},{"id":"4d5e569c.181738","type":"function","z":"f6a50207.d487c8","name":"Toggle output on input","func":"context.statoled = !context.statoled || false;\n\nmsg.payload = context.statoled;\nreturn msg;","outputs":1,"noerr":0,"x":428,"y":280,"wires":[["7e5d1aec.345664","cd3c7ba5.07c738"]]},{"id":"7e5d1aec.345664","type":"debug","z":"f6a50207.d487c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":380,"wires":[]},{"id":"cd3c7ba5.07c738","type":"arduino out","z":"f6a50207.d487c8","name":"led","pin":"12","state":"OUTPUT","arduino":"ab4a0699.b35398","x":670,"y":260,"wires":[]},{"id":"ab4a0699.b35398","type":"arduino-board","z":"","device":"/dev/ttyACM0"}]