raspberrypi/R021-http/flows.json
[{"id":"c356a22d.3edda","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"989d2977.e5ea3","type":"http response","z":"c356a22d.3edda","name":"","x":550,"y":220,"wires":[]},{"id":"31fa84a7.21a084","type":"template","z":"c356a22d.3edda","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello Raspberry!</h1>\n    </body>\n</html>","x":410,"y":220,"wires":[["989d2977.e5ea3"]]},{"id":"62353c6b.021b7c","type":"http in","z":"c356a22d.3edda","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":140,"y":220,"wires":[["31fa84a7.21a084"]]},{"id":"8366adbf.7b4c68","type":"http response","z":"c356a22d.3edda","name":"","x":550,"y":320,"wires":[]},{"id":"fbfac1.b794454","type":"template","z":"c356a22d.3edda","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.params.nome}}!</h1>\n    </body>\n</html>","x":410,"y":320,"wires":[["8366adbf.7b4c68"]]},{"id":"9f0b4c63.d4a608","type":"http in","z":"c356a22d.3edda","name":"","url":"/hello2/:nome","method":"get","upload":false,"swaggerDoc":"","x":170,"y":320,"wires":[["fbfac1.b794454"]]}]