raspberrypi/R020-NodRed-blink/blink-flows.json
[{"id":"689094e1.e0ed24","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"def6df01.d2fd7","type":"rpi-gpio in","z":"689094e1.e0ed24","name":"","pin":"38","intype":"tri","debounce":"25","read":false,"x":150,"y":240,"wires":[["73eeda98.2fb734"]]},{"id":"73eeda98.2fb734","type":"rpi-gpio out","z":"689094e1.e0ed24","name":"","pin":"40","set":true,"level":"0","freq":"","out":"out","x":510,"y":240,"wires":[]},{"id":"c0910af.2719d78","type":"trigger","z":"689094e1.e0ed24","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"1000","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1200,"y":260,"wires":[["f18c3ec4.f569f8","c76f7411.34b0a"]]},{"id":"b0a767b1.d02ed","type":"inject","z":"689094e1.e0ed24","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"x":990,"y":260,"wires":[["c0910af.2719d78"]]},{"id":"f18c3ec4.f569f8","type":"debug","z":"689094e1.e0ed24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1440,"y":260,"wires":[]},{"id":"c76f7411.34b0a","type":"rpi-gpio out","z":"689094e1.e0ed24","name":"","pin":"40","set":true,"level":"0","freq":"","out":"out","x":1450,"y":360,"wires":[]}]