raspberrypi/R022-httpled/flows.json
[{"id":"32c7ff55.ff5128","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"81b98d0a.6674d8","type":"http in","z":"32c7ff55.ff5128","name":"","url":"/led/:stato","method":"get","upload":false,"swaggerDoc":"","x":190,"y":220,"wires":[["9c4ed44c.d85f5","f8be1a92.b01ee8"]]},{"id":"959b4e59.b7f1","type":"rpi-gpio out","z":"32c7ff55.ff5128","name":"","pin":"40","set":"","level":"0","freq":"","out":"out","x":760,"y":280,"wires":[]},{"id":"9c4ed44c.d85f5","type":"template","z":"32c7ff55.ff5128","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Il LED è {{req.params.stato}}!</h1>\n    </body>\n</html>","x":410,"y":220,"wires":[["529a3781.9f819"]]},{"id":"529a3781.9f819","type":"http response","z":"32c7ff55.ff5128","name":"","statusCode":"","headers":{},"x":600,"y":180,"wires":[]},{"id":"f8be1a92.b01ee8","type":"switch","z":"32c7ff55.ff5128","name":"","property":"req.params.stato","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":380,"wires":[["adbc5e2b.f48c58"],["d2f93231.fec4b8"]]},{"id":"adbc5e2b.f48c58","type":"function","z":"32c7ff55.ff5128","name":"turnOn","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":360,"wires":[["959b4e59.b7f1"]]},{"id":"d2f93231.fec4b8","type":"function","z":"32c7ff55.ff5128","name":"turnOff","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":420,"wires":[["959b4e59.b7f1"]]}]